Package: com.autopear.lunarcalendar
Name: Lunar Calendar for Notification Center
Version: 1.6.3
Description: Lunar Calendar on NotificationCenter.
Section: Addons (NotificationCenter)
Depends: firmware (>= 5.0), com.saurik.substrate.safemode, preferenceloader
Conflicts: com.autopear.lunarcalendar-beta
Provides: com.autopear.lunarcalendar-beta
Replaces: com.autopear.lunarcalendar-beta
Priority: standard
Architecture: iphoneos-arm
Icon: file:///Applications/Preferences.app/Calendar.png
Author: Merlin
dev: lonelystars
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=lunarcalendarweeappDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=lunarcalendarweeappDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org/>
Tag: role::enduser, purpose::extension
